<!DOCTYPE html>
<html>
    <head>
        <style>
        .footer {
            position: fixed;
            right: 0;
            bottom: 0;
            height: 15%;
        }
        .footer img {
            height: 100%;
        }
        </style>
    </head>
<body>
    <a href="..">Parent directory</a>
    <br/><br/>

    {{- if .Dirs}}
        {{- range $dir := .Dirs}}
            <a href="{{$dir}}/">{{$dir}}/</a><br/>
        {{- end}}
        <br/>
    {{- end}}

    {{- if .Files}}
        {{- range $file := .Files}}
            <a href="{{$file}}/stream">{{$file}}</a><br/>
        {{- end}}
    {{- end}}

    <div class="footer">
        <img src="/static/aurelius.png">
    </div>
</body>
</html>