<!DOCTYPE html>
<html>
<head>
	<title>aurelius</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="/static/icon.png">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="/static/css/db-dir.css" rel="stylesheet">

	<script src="/static/js/player.js"></script>
	<script>
		window.onload = () => {
			const player = new Player("header");

			const playlists = document.getElementById("playlists");
			if (playlists !== null) {
				const files = Array.prototype.slice.apply(playlists.getElementsByTagName("a"));
				for (const file of files) {
					file.onclick = () => {
						player.playList(file.href);
						return false;
					};

					const randomLink = document.createElement("a");
					randomLink.textContent = "random";
					randomLink.href = file.href;
					randomLink.classList.add("aux-link");
					randomLink.onclick = () => {
						player.playList(randomLink.href, true);
						return false;
					};
					file.parentElement.appendChild(randomLink);
				}
			}

			const tracks = document.getElementById("tracks");
			if (tracks !== null) {
				for (const file of tracks.getElementsByTagName("a")) {
					file.onclick = () => {
						player.playTrack(file.href);
						return false;
					};
				}
			}
		};
	</script>
</head>
<body>
	<div id="header">
		<div id="status">
			<div id="status-left">aurelius</div>
			<div id="status-right"></div>
			<div id="favorite-button" class="clickable">
				<i class="material-icons">favorite_border</i>
			</div>
			<div id="unfavorite-button" class="clickable">
				<i class="material-icons">favorite</i>
			</div>
		</div>
		<div id="controls">
			<div id="play-button" class="clickable">
				<i class="material-icons">play_arrow</i>
			</div>
			<div id="pause-button" class="clickable">
				<i class="material-icons">pause</i>
			</div>
			<div id="prev-button" class="clickable">
				<i class="material-icons">skip_previous</i>
			</div>
			<div id="next-button" class="clickable">
				<i class="material-icons">skip_next</i>
			</div>
			<div id="progress-bar-container">
				<div id="progress-bar-empty" class="clickable">
					<div id="progress-bar-fill"></div>
					<div id="seek-slider-area">
						<div id="seek-slider" class="clickable"></div>
					</div>
				</div>
			</div>
			<div>
				<div id="duration"></div>
			</div>
		</div>
	</div>

	<div id="content">
		<ul id="dirs" class="listing">
			<li><i class="material-icons">arrow_back</i><a href="..">Parent directory</a></li>
			{{- if .Dirs}}
				{{- range $dir := .Dirs}}
					<li><i class="material-icons">folder_open</i><a href="{{$dir}}/">{{$dir}}/</a></li>
				{{- end}}
			{{- end}}
		</ul>

		{{- if .Playlists}}
			<ul id="playlists" class="listing">
				{{- range $file := .Playlists}}
					<li><i class="material-icons">playlist_play</i><a href="{{$file}}">{{$file}}</a></li>
				{{- end}}
			</ul>
		{{- end}}

		{{- if .Tracks}}
			<ul id="tracks" class="listing">
				{{- range $file := .Tracks}}
					<li><i class="material-icons">music_note</i><a href="{{$file}}">{{$file}}</a></li>
				{{- end}}
			</ul>
		{{- end}}
	</div>

	<div id="footer">
		<img src="/static/aurelius.png">
	</div>
</body>
</html>
