<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="/static/css/db-dir.css" rel="stylesheet">

	<script src="/static/js/player.js"></script>
	<script>
		window.onload = function() {
			player = new Player("header");
		};
	</script>
</head>
<body>
	<div id="header">
		<div id="status">
			<div id="status-left">aurelius</div>
			<div id="status-right"></div>
		</div>
		<div id="controls">
			<div id="play-button" class="clickable">
				<i class="material-icons md-dark">play_arrow</i>
			</div>
			<div id="pause-button" class="clickable">
				<i class="material-icons md-dark">pause</i>
			</div>
			<div id="prev-button" class="clickable">
				<i class="material-icons md-dark">skip_previous</i>
			</div>
			<div id="next-button" class="clickable">
				<i class="material-icons md-dark">skip_next</i>
			</div>
			<div id="progress-bar-container">
				<div id="progress-bar-empty" class="clickable">
					<div id="progress-bar-fill"></div>
					<div id="seek-slider" class="clickable"></div>
				</div>
			</div>
		</div>
	</div>

	<div id="content">
		<ul id="dirs">
			<li><a href="..">Parent directory</a></li>
			{{- if .Dirs}}
				{{- range $dir := .Dirs}}
					<li><a href="{{$dir}}/">{{$dir}}/</a></li>
				{{- end}}
			{{- end}}
		</ul>

		<ul id="files">
			{{- if .Files}}
				{{- range $file := .Files}}
					<li><a onclick="player.play('{{$file}}')" href="javascript:void(0);">{{$file}}</a></li>
				{{- end}}
			{{- end}}
		</ul>
	</div>

	<div id="footer">
		<img src="/static/aurelius.png">
	</div>
</body>
</html>