.ui {
	background-color: hsl(0, 0%, 33%);
	color: white;
	scrollbar-color: initial;
}

.ui__table {
	border-spacing: 0.5em;
}

.ui__button {
	display: block;
	padding: 0.5em;
	margin: 0.5em;
	width: calc(100% - 1em);
	border: 1px solid;
	border-radius: 0.25em;
	background-color: rgba(0, 0, 0, 0.15);
	border-color: rgba(0, 0, 0, 0.54);
	color: white;
}
.ui__button:hover {
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
}
.ui__button:active {
	background-color: white;
	color: black;
}

.ui__section-header {
	box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.25);
	padding-bottom: 0.1em;
}
.ui__section-body {
	margin: 0.5em 0 0.5em 1.5em;
}
.ui__section-body--scroll {
	max-height: 8em;
	overflow-y: scroll;
	scrollbar-color: hsl(0, 0%, 43%) hsl(0, 0%, 30%);
}

.ui__entry-group {
	margin: 1em 0 1em 0;
}
.ui__entry-label {
	display: flex;
	padding-left: 1rem;
	padding-right: 1rem;
}
.ui__entry-input {
	flex: 1;
}
.ui__entry-input--error {
	border: 2px solid rgb(220, 50, 50);
	background-color: rgb(255, 200, 200);
}

.ui__error {
	color: hsl(0, 100%, 65%);
	text-align: center;
}

.ui a {
	color: black;
	text-decoration: underline;
}

.ui kbd {
	background-color: hsl(0, 0%, 25%);
	border: 1px solid hsl(0, 0%, 15%);
	border-radius: 0.25em;
	padding: 0.2em 0.5em;
	font-family: monospace;
	font-size: 0.9em;
	color: white;
}
