#content {
	transform: translate(-50%, -80%);
}
#content:before {
	content: "";
	background: center center / contain url("/static/img/aurelius.svgz") no-repeat;
	display: block;
	width: 12rem;
	height: 12rem;
	margin: 1rem auto;
}

#login-form:before {
	content: "aurelius";
	display: block;
	text-align: center;
	font-style: italic;
}
