html {
	min-height: 100%;
}

body {
	font-family:
		segoe ui,
		roboto,
		sans-serif;
}

.material-icons {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
