html {
	min-height: 100%;
	scrollbar-color: hsl(0, 0%, 30%) hsl(0, 0%, 20%);
}

body {
	color: white;
	font-family:
		segoe ui,
		roboto,
		sans-serif;
}

.material-icons {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
